html{
    min-height: 100%;
    position: relative;
   }
   body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #AB4459;
    background-color: #fff0dc;
}
header {
    background-color: #740938;
    color: #DE7C7D;
    padding: 25px 20px;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    position: relative;
}
header .contact-info {
    font-size: 25px;
}
nav {
    display: flex;
    justify-content: center;
    background-color: #DE7C7D;
    padding: px 0;
}
nav a {
    color: #740938;
    text-decoration: none;
    margin: 10px 15px;
    font-weight: bold;
    
}
nav a:hover {
    text-decoration: underline;
}
main {
    padding: 20px;
}
section {
    margin-bottom: 40px;
}
.catalog-item {
    display: inline-block;
    width: 30%;
    margin: 10px;
    text-align: center;
    border: 1px solid #740938;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;

}
form {
    max-width: 400px;
    margin: 0 auto;
}
form label {
    display: block;
    margin-bottom: 5px;
    text-align: center;
}
form input, form textarea, form button {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
footer {
    background-color: #740938;
    color: #FFB0B0;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    position: relative;
}

        h1{
            text-align: center;
            font-size: 60px;
            color: #fff0dc;
            margin: 0;
        }
        .imgg {
            width: 100%;
            height: 11%;
            margin-top: 10px;
        }

        .imge {
            max-width: 200px;
            width: 200px;
            height: auto;
            margin: 0 auto;
            position: relative;
            overflow: hidden;
            top: 10px;
        }

        .texto {
            text-align: center;

        }

        .tituloofertas{
            margin-top: 200px;
            text-align: center;

        }

        .boton-container {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;
            width: 100%;
            margin-top: 20px;
        }

        .botonver {
            border-radius: 15px;
            color: #CC2B52;
            height: 50px;
            border: none;
            cursor: pointer;
            padding: 10px 20px;
            font-size: 16px;
            text-align: center;
            transition: background-color 0.3s ease, transform 0.2s ease;
        }

        .botonver:hover{
            background-color: #740938;
            color: #ddd;
        }

        .catalogo{
            text-align: center;
            margin: 10px;
            font-size: 40px;
            color: #740938;

        }

        .catalog-item {
            display: inline-block;
            width: 30%;
            margin: 10px;
            text-align: center;
            border: 1px solid #740938;
            border-radius: 5px;
            padding: 10px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }
        .catalog-item:hover {
            background-color: #D4BDAC;
            transform: scale(1.05);
        }

        .margin{
            position: absolute; 
            top: 0; 
            left: 0; 
            width: 100%; 
            height: 100%; 
            background-color: rgba(0,0,0,0.5); 
            display: flex; 
            flex-direction: column; 
            justify-content: center; 
            align-items: center; 
            color: white; 
            text-align: center;
        }
        
        .pp{
            margin-bottom: 30px;
        }
        
        .ofer{
            position: relative; 
            width: 100%;
        }
